* {
	margin: 0;
	padding: 0;
}
body {
	font: 14px/1.4 Georgia, serif;
}
#page-wrap {
	width: 800px;
	margin: 0 auto;
}

input {
	border: none;
}

textarea {
	border: 0;
	font: 14px Georgia, Serif;
	overflow: hidden;
	resize: none;
}
table {
	border-collapse: collapse;
}
table td,
table th {
	border: 1px solid;
	padding: 5px;
}

#title {
	height: 15px;
	width: 100%;
	margin: 20px 0;
	background: #222;
	text-align: center;
	color: white;
	font: bold 15px Helvetica, Sans-Serif;
	text-decoration: uppercase;
	letter-spacing: 8px;
	padding: 8px 0px;
}

#company {
	font: 18px Helvetica, Sans-Serif;
	width: auto;
	height: 150px;
	float: left;
	padding-bottom: 10px;
}

#number-1 {
	text-align: center;
	height: 25px;
	font: bold 35px Helvetica, Sans-Serif;
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 10px;
}

#number {
	width: 300px;
	height: 25px;
	font: 35px Helvetica, Sans-Serif;
	border-style: none;
}

#number-2 {
	text-align: center;
	height: 25px;
	font: 15px Helvetica, Sans-Serif;
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 30px;
}

#fiscal {
	width: 150px;
	height: 25px;
	font: 15px Helvetica, Sans-Serif;
	border-style: none;
}

#number-part {
	display: table-cell;
}

#number {
	text-align: center;
}

#customer {
	font: 13px Helvetica, Sans-Serif;
	overflow: hidden;
}

#customer td {
	text-align: right;
}

#customer input {
	font: 153x Helvetica, Sans-Serif;
	width: 100%;
	float: left;
}

#customer td.meta-head {
	text-align: left;
	background: #eee;
}

#customer-payment {
	margin-top: 1px;
	width: 380px;
	float: left;
}

#customer-info {
	margin-top: 1px;
	width: 380px;
	float: right;
}

#items {
	clear: both;
	width: 100%;
	margin: 30px 0 0 0;
	border: 1px solid;
}
#items th {
	background: #eee;
}
#items textarea {
	width: 80px;
	height: 50px;
}
#items tr.item-row td {
	border: 0;
	vertical-align: top;
}
#items td.description {
	width: 300px;
}
#items td.item-name {
	width: 175px;
}
#items td.description textarea,
#items td.item-name textarea {
	width: 100%;
}
#items td.total-line {
	border-right: 0;
	text-align: right;
}
#items td.total-value {
	border-left: 0;
	padding: 10px;
}
#items td.total-value textarea {
	height: 20px;
	background: none;
}
#items td.balance {
	background: #eee;
}
#items td.blank {
	border: 0;
}

textarea:hover,
textarea:focus,
#items td.total-value textarea:hover,
#items td.total-value textarea:focus {
	background-color: #e7e7e7;
	color: black;
}

.delete:hover {
	background-color: #f44336;
}

.delete-wpr {
	position: relative;
}
.delete {
	display: block;
	color: #000;
	text-decoration: none;
	position: absolute;
	background: #eeeeee;
	font-weight: bold;
	padding: 0px 3px;
	border: 1px solid;
	top: -6px;
	left: -22px;
	font-family: Verdana;
	font-size: 12px;
}

#pdf-button {
	text-align: right;
	padding-top: 5px;
}

#print-pdf,
#addrow {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#addrow {
	background-color: #008cba;
}
