* {
	margin: 0;
	padding: 0;
}
body {
	font: 14px/1.4 Georgia, serif;
}
#page-wrap {
	width: 800px;
	margin: 0 auto;
}

input {
	border: none;
}

textarea {
	border: 0;
	font: 14px Georgia, Serif;
	overflow: hidden;
	resize: none;
}
table {
	border-collapse: collapse;
}
table td,
table th {
	border: 1px solid;
	padding: 5px;
}

#title {
	height: 15px;
	width: 100%;
	margin: 20px 0;
	background: #222;
	text-align: center;
	color: white;
	font: bold 15px Helvetica, Sans-Serif;
	text-decoration: uppercase;
	letter-spacing: 8px;
	padding: 8px 0px;
}

#company {
	font: 18px Helvetica, Sans-Serif;
	width: auto;
	height: 150px;
	float: left;
	padding-bottom: 10px;
}

#number-1 {
	padding-left: 35%;
	height: 25px;
	font: bold 35px Helvetica, Sans-Serif;
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 10px;
}

#number {
	width: 300px;
	height: 25px;
	font: 35px Helvetica, Sans-Serif;
	border-style: none;
}

#number-2 {
	padding-left: 40%;
	height: 25px;
	font: 15px Helvetica, Sans-Serif;
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 30px;
}

#fiscal {
	width: 150px;
	height: 25px;
	font: 15px Helvetica, Sans-Serif;
	border-style: none;
}

#number-part {
	display: table-cell;
}

#customer {
	font: 13px Helvetica, Sans-Serif;
	overflow: hidden;
}

#customer td {
	text-align: right;
}

#customer input {
	font: 153x Helvetica, Sans-Serif;
	width: 100%;
	float: left;
}

#customer td.meta-head {
	text-align: left;
	background: #eee;
}

#customer-payment {
	margin-top: 1px;
	width: 380px;
	float: left;
}

#customer-info {
	margin-top: 1px;
	width: 380px;
	float: right;
}

#items {
	clear: both;
	width: 100%;
	margin: 30px 0 0 0;
	border: 1px solid;
}
#items th {
	background: #eee;
}

#items textarea {
	width: 80px;
	height: 50px;
}
#items input {
	text-align: center;
}

#items tr.item-row td {
	border: 0;
	text-align: center;
	height: 30px;
}

#items td.item-code {
	width: 50px;
}
#items td.item-code input {
	width: 50px;
}

#items td.item-name {
	width: 300px;
}
#items td.item-name input {
	height: 40px;
	width: 100%;
	background-color: #eee;
}

#items td.item-cost {
	width: 50px;
}

#items td.item-cost input {
	width: 100%;
}

#items td.item-quantity {
	width: 50px;
}
#items td.item-quantity input {
	width: 100%;
}

#items td.item-price {
	width: 100px;
}

#items td.total-value {
	border-left: 0;
	padding: 10px;
	background: #eee;
}
#items td.total-value textarea {
	height: 20px;
}

#items td.blank {
	border: 0;
}

.delete:hover {
	background-color: #f44336;
}

.delete-wpr {
	position: relative;
}
.delete {
	display: block;
	color: #000;
	text-decoration: none;
	position: absolute;
	background: #eeeeee;
	font-weight: bold;
	padding: 0px 3px;
	border: 1px solid;
	top: -6px;
	left: -22px;
	font-family: Verdana;
	font-size: 12px;
}

#pdf-button {
	text-align: right;
	padding-top: 5px;
}

#add-item-wrap {
	text-align: right;
	padding-top: 5px;
}

#add-item-btn,
#print-pdf,
#addrow {
	background-color: #9e5e09;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#addrow {
	background-color: #4caf50;
}

#add-item-btn {
	background-color: #008cba;
}

.scrolable {
	margin: 5px;
	padding: 5px;
	background-color: green;
	width: 500px;
	height: 110px;
	overflow: auto;
	text-align: justify;
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px; 
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
